:root {
  --color1: #d3c6fe;
  --color2: #ffffff;
  --color3: #222264;
  --color4: #f6df1b;
  --color5: #242424;
  --color6: #8f8ea1;
}

body,
html {
  background-color: var(--color1);
}

#displayBox {
  background-color: var(--color2);
  border: transparent;
}

#backgroundBox {
  background-color: var(--color2);
  border-bottom: 7vh solid var(--color3);
}

#displayBox > div:nth-of-type(1) {
  background-color: var(--color2);
  border: 2px solid var(--color4);
  border-left-color: transparent; /* circle without the left half*/
}

#displayBox > h4 {
  background-color: var(--color3);
  color: var(--color2);
}

.icon {
  background-color: transparent;
  border: transparent;
  color: var(--color3);
}

.icon:hover {
  background-color: var(--color3);
  color: var(--color2);
}

#changeThemeButton {
  background-color: var(--color3);
  color: var(--color4);
}

p,
h1 {
  color: var(--color5);
}

.job-title {
  color: var(--color6);
}

.special-texts {
  color: var(--color6);
}
