:root {
  --background: #d3c6fe;
  --box-background: #26235c;
  --box-border: #f5e11b;
  --image-background: var(--box-background);
  --image-border: var(--box-border);
  --icon: #6a62b9;
  --job-color: var(--icon);
  --email-color: #eeebf5;
  --email-background: var(--icon);
  --text-color: var(--email-color);
  --special-texts-color: var(--box-border);
  --topleft-button-color: var(--box-background);
  --topleft-button-background: var(--box-border);
}
