:root {
  --background: #d3c6fe;
  --box-background: #ffffff;
  --box-border: #222264;
  --image-background: var(--box-background);
  --image-border: #f6df1b;
  --icon: var(--box-border);
  --job-color: var(--box-border);
  --email-color: var(--box-background);
  --email-background: var(--box-border);
  --text-color: #252525;
  --special-texts-color: var(--box-border);
  --topleft-button-color: var(--box-border);
  --topleft-button-background: var(--image-border);
}
