:root {
  --background: #d3c6fe;
  --box-background: #3c4841;
  --box-border: #7fbbb3;
  --image-background: var(--box-background);
  --image-border: var(--box-border);
  --icon: var(--box-border);
  --job-color: #83c092;
  --email-color: #d3c6aa;
  --email-background: var(--box-border);
  --text-color: var(--email-color);
  --special-texts-color: #e69875;
  --topleft-button-color: var(--box-background);
  --topleft-button-background: var(--box-border);
}
