:root {
  --background: #d3c6fe;
  --box-background: #282828;
  --box-border: #fabd2f;
  --image-background: var(--box-background);
  --image-border: var(--box-border);
  --icon: #fe9019;
  --job-color: var(--icon);
  --email-color: #eeebf5;
  --email-background: var(--icon);
  --text-color: #ebdbb2;
  --special-texts-color: #fb4934;
  --topleft-button-color: var(--box-background): ;
  --topleft-button-background: var(--box-border);
}
